/**
	CSS Reset provided by Yahoo!
**/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
caption,th { text-align:left; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }



/**
	Misc
**/
.clear {
	clear: both;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.filesize {
	color: #999;
}



/**
	Basic page setup, HTML elements and typography
**/
body {
	color: #39393b;
	background: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Sans-Serif;
	font-size: small;
	line-height: 135%;
}

h1 {
	margin: 1em 0 .5em;
	font-size: 18pt;
	font-weight: bold;
	line-height: 135%;
	color: #df5c16;
}

h2 {
	margin: 1em 0 0;
	color: #000;
	font-size: medium;
	font-weight: bold;
	line-height: 135%;
}

h3 {
	margin: 1em 0;
	color: #888;
	font-size: medium;
	font-weight: bold;
	line-height: 135%;
}

h4 {
	margin: 1em 0;
	font-size: small;
	font-weight: bold;
	line-height: 135%;
}

h5,
h6 {
	margin: 1em 0;
	font-size: x-small;
	font-weight: bold;
	line-height: 135%;
}

p,
ul,
ol {
	margin: 1.2em 0;
	font-weight: normal;
	line-height: 135%;
}

	ul li {
		margin-left: 2em;
		padding-left: .3em;
		list-style-position: outside;
		list-style-image: url(../images/arrow.gif);
	}
	
	ol li {
		margin-left: 2.3em;
		list-style-position: outside;
		list-style: decimal;
	}
	
a {
	outline-style: none;
}

a:link,
a:visited {
	color: #b91c2e;
	text-decoration: underline;
}

a:hover,
a:active {
	text-decoration: none;
}
	
	a img {
		border: 0;
	}

dt,
th {
	font-weight: bold;
}

dt {
	margin-top: 1em;
}

dd {
	margin-bottom: 1em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

blockquote {
	display: block;
	margin: 10px 0;
	padding: 5px 20px;
	background: #fcf4d9 url(../images/quote.bg.gif) no-repeat top left;
	font-style: italic;
}

	blockquote q {
		display: block;
		margin: 0 -20px -5px -20px;
		padding: 5px 20px 13px 20px;
		background: url(../images/quote.bg.gif) no-repeat bottom left;
	}
	
q {
	font-style: italic;
}

img.left {
	float: left;
	margin: 0 10px 5px 0;
}

img.right {
	float: right;
	margin: 0 0 5px 10px;
}

small {
	color: #888;
	font-size: x-small;
}

table {
	margin: 0 0 2em 0;
}

table,
th,
td {
	border-collapse: collapse;
	border: 1px solid #333;
}

	caption {
		padding: 7px 5px;
		color: #dc8a2a;
		font-size: medium;
		font-weight: bold;
	}

	th {
		padding: 4px 5px;
		font-weight: bold;
	}

	td {
		padding: 2px 5px;
	}

		thead th {
			color: #FFF;
			background: #000;
		}
	
		thead td {
			color: #FFF;
			background: #666;
		}
	
		tfoot th,
		tfoot td {
			color: #888;
			font-size: x-small;
		}
	
			tfoot p:first-child {
				margin-top: 0;
			}
		
			tfoot p:last-child {
				margin-bottom: 0;
			}
	
	tr.even td,
	tr.even th {
		background: #222;
	}
	
	
	
/**
	Main
**/
body {
	color: #FFF;
	background: #3B5998;
}

#main {
	margin: 0 auto;
	width: 940px;
}

/**
	Form
**/

form {
	width: 940px;
	margin: 0 auto;
	padding: 10px 20px;
	background: #627AAD;
}

	form input {
		width: 930px;
		margin: 0;
		padding: 5px 10px;
		font-size: 22px;
		color: #555;
		text-align: center;
	}
	
/**
	Counter
**/
#counter-layout {
	display: block;
	margin: 200px auto 50px auto;
	width: 300px;
}

	#counter {
		text-align: center;
		font-size: 300px;
	}
	
	